<ion-header class="header">
  <img src="../../assets/Logo.png" width="150px" height="78px">
</ion-header>

<ion-content>
  <div class="content">

    <div class="container">

      <ion-input class="input" placeholder="NOME COMPLETO"></ion-input>

      <ion-input class="input" placeholder="EMAIL"></ion-input>

      <ion-input class="input"  type="password" placeholder="SENHA"></ion-input>

      <ion-input class="input" placeholder="UF"></ion-input>

      <ion-input class="input" placeholder="CIDADE"></ion-input>

      <ion-button class="button">REGISTRAR</ion-button>

      <ion-button (click)="goToPage()" class="button_voltar" color="light">VOLTAR</ion-button>
    

    </div>

  </div>
</ion-content>