<ion-header class="header">
  <img src="../../assets/Logo.png" width="150px" height="78px">
</ion-header>

<ion-content>
  <div class="content">

    <div class="container">

      <ion-input [(ngModel)]="userEmail" class="input" placeholder="LOGIN"></ion-input>

      <ion-input [(ngModel)]="userPassword" class="input" type="password" placeholder="SENHA"></ion-input>

      <ion-button  (click)="Login()" class="button">ENTRAR</ion-button>

      <p>NÃO TEM CONTA? <a (click)="goToPage()" text-decoration="none">REGISTRE-SE</a></p> 

    </div>

  </div>
</ion-content>