.header-top{
  background-color: #19133E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.header-bottom{
  background: #ffff;
}

.breadcr{
  padding: 10px;
}


.destino{
  color: black;
  margin-bottom: 20px;
}

.text{
  text-align: justify;
  color: black;
}

.button{
  display: flex;
  padding: 5px;
  height: 51px;
}