<ion-header>
  <div class="header">

    <div class="flecha">
      <a><img src="../../assets/flecha.png" (click)="goToPage()"> </a>
    </div>

    <div class="perfil">
      <p>AJUDA</p>
    </div>

  </div>
</ion-header>

<ion-content>
  <div class="content">

    <div class="container">

      <div class="content_top">
        <p>Ajuda</p>
        <hr color="#3D3D3D">
      </div>

      <div class="content_mid">
        <div class="space-div02">

          <p>Como conectar com Alexa?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Manual de instalação</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Minha fechadura não abre remotamente</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Como abrir a fechadura remotamente?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Como adicionar uma nova EKEY?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Como adicionar um novo CARTÃO?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Meu cartão não abre a fechadura</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>O que é um GATEWAY?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>

        <div class="space-div02">

          <p>Como trocar o nome da minha fechadura?</p>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>

        </div>
      </div>

    </div>

  </div>
</ion-content>