<ion-header class="header">
  <div class="flecha">
    <a><img src="../../assets/flecha.png"> </a>
  </div>

  <div class="perfil">
    <p>MEU PERFIL</p>
  </div>

</ion-header>

<ion-content>
  <div class="content">

    <div class="container">

      <div class="content_top">
        <h2>Perfil</h2>
        <p>Configurações de perfil</p>
        <hr color="#3D3D3D">
      </div>


      <div class="content_mid">

        <div class="space-div">
          <p>Email</p>

          <p>henriquebfc@gmail.com</p>
        </div>


        <div class="space-div02">
          <p>Nome</p>

          <p>Henrique Carlos  <img src="../../assets/flecha02.png"> </p>
        </div>

        <div class="space-div03">
          <p>Idioma</p>

          <p>Português(Brasil) <img src="../../assets/flecha02.png"> </p>
        </div>

        <hr color="#3D3D3D">
      </div>
      
      <div class="content_bot">

      
        <div class="space-div">
          <p>Email</p>

          <p>henriquebfc@gmail.com</p>
        </div>


        <div class="space-div02">
          <p>Nome</p>

          <p>Henrique Carlos  <img src="../../assets/flecha02.png"> </p>
        </div>

        <div class="space-div03">
          <p>Idioma</p>

          <p>Português(Brasil) <img src="../../assets/flecha02.png"> </p>
        </div>

      </div>

    </div>

  </div>
</ion-content>