ion-content {--overflow: hidden}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #222222;
    color: white;
}

.flecha{
    width: 7%;
    margin-top: 10px;
    margin-left: 10px;
}

.perfil{
    display: flex;
    justify-content: center;
    width: 93%;
    margin-right: 7%;
}

.content {
    background-color: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.container {
    justify-content: center;
    width: 80%;
}

.content_top {
    h2 {
        color: #fff;
    }

    p {
        font-size: 17px;
        color: #989898;
    }
}


.content_mid {
    h2 {
        color: #fff;
    }

    p {
        font-size: 17px;
        color: #3D3D3D;
    }
}


.arrow{
    font-size: 20px;
}

.icon-settings{
    font-size: 20px;
    margin-right: 10px;
}

.internate-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.space-div02{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        color:#fff;

    }
 
   
}

.space-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p{
        color: gray;

    }
 
}


