<ion-header>
  <div class="header">

    <div class="flecha">
      <a><img src="../../assets/flecha.png" (click)="goToPage02()"> </a>
    </div>

    <div class="perfil">
      <p>MEU PERFIL</p>
    </div>

  </div>
</ion-header>

<ion-content>
  <div class="content">

    <div class="container">

      <div class="content_top">
        <h2>Perfil</h2>
        <p>Configurações de perfil</p>
        <hr color="#3D3D3D">
      </div>


      <div class="content_mid">

        <div class="space-div02">
          <p>Email</p>

          <p>henriquebfc@gmail.com</p>
        </div>


        <div class="space-div02">
          <p>Nome</p>

          <div class="internate-div">

            <p>Henrique Carlos </p>

            <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>
          </div>
        </div>

        <div class="space-div02">
          <p>Idioma</p>

          <div class="internate-div">

            <p>Português(Brasil)</p>

            <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>
          </div>
        </div>

        <hr color="#3D3D3D">
      </div>

      <div class="content_mid">

        <div class="space-div">
          <div class="internate-div">
            <ion-icon class="icon-settings" name="settings-outline" color="light"></ion-icon>

            <p>Configurações do Sistema</p>
          </div>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>
        </div>


        <div class="space-div">

          <div class="internate-div">
            <ion-icon class="icon-settings" name="help-circle-outline" color="light"></ion-icon>

            <p>Ajuda</p>
          </div>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary" (click)="goToPage()"></ion-icon>
        </div>

        <div class="space-div">
          <div class="internate-div">
            <ion-icon class="icon-settings" name="notifications-outline" color="light"></ion-icon>

            <p>Notificações</p>
          </div>

          <ion-icon class="arrow" name="chevron-forward-outline" color="secondary"></ion-icon>
        </div>


        <hr color="#3D3D3D">
      </div>






    </div>

  </div>
</ion-content>