.header-top {
    background-color: #19133E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.header-bottom {
    background: #ffff;
}

.content {
    background-color: #222222;
    display: flex;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;

}

ion-toolbar {
    height: 69px;
}

.cards{
    margin-top: -20px;
}


.background-image {
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    // margin-bottom: -50px;

    img{
        width: 100%;
        height: 100%;
    }
    p {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
}

.bottom-left {
    position: absolute;
    bottom: -20px;
    left: 16px;
  }


// .background-image{
//     display: flex;
//     border-radius: 20px;
//     p{

//         top: 20%;
//         left: 20%;
//         transform: translate(-50%, -50%);
//         color: white;
//         font-size: 20px;
//         font-weight: bold;
//     }
// }