<ion-header>
  <div class="header-top">
    <img src="../../assets/Logo.png" width="150px" height="78px">
  </div>

  <div class="header-bottom">
    <ion-breadcrumbs class="breadcr">
      <ion-breadcrumb href="#home">Home</ion-breadcrumb>
      <ion-breadcrumb href="#electronics">Cidades</ion-breadcrumb>
      <ion-breadcrumb href="#cameras">Lista</ion-breadcrumb>
      <ion-breadcrumb href="#cameras">Londrina</ion-breadcrumb>
    </ion-breadcrumbs>
  </div>

</ion-header>

<ion-content class="content" [fullscreen]="true">

  <ion-card class="card">
    <img [src]="this.Cidades.cityImage">
    <ion-card-header>
      <ion-card-subtitle class="destino">Destino</ion-card-subtitle>
      <ion-card-title>{{this.Cidades.cityName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text">
      <p>{{this.Cidades.cityDescription}}</p>
    </ion-card-content>

  </ion-card>

  <div class="container">

    <ion-accordion-group class="accordion">

      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>População</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{this.Cidades.cityPopulation}}
        </div>
      </ion-accordion>

      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Área Total</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{this.Cidades.cityArea}}
        </div>
      </ion-accordion>

      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Prefeito</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{this.Cidades.cityMayor}}
        </div>
      </ion-accordion>


      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <ion-label>Altitude</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          {{this.Cidades.cityAltitude}}
        </div>
      </ion-accordion>

    </ion-accordion-group>

  </div>

  <ion-button (click)="goToPage()" class="button">VOLTAR</ion-button>

</ion-content>